header {
    background-color: white; //$body-bg;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.04);
    @include ellipsis;

    i {
        font-size: 26px;
        float: left;
    }

    &::after {
        content: "";
        clear: both;
    }
}
